

$primary-clr : #594157;
$secondary-clr: #726DA8;
$third-clr: #55917f;
$forth-clr: #585058;
$validation-clr: #c47D7D;

$hind-bold: Hind-Bold;
$hind-medium: Hind-Medium;
$robo-black: Roboto-Black;
$robo-reg:Roboto-Regular;
$robo-lighItalic: Roboto-LightItalic;
